**/*.qgz
**/*.cpg
**/*.dbf
**/*.prj
**/*.qpj
**/*.shp*
**/*.shx
**/*.sbn
**/*.sbx
**/.ipynb*


.DS_Store
.vim
*.aux
*.fdb_latexmk
*.fls
*.log
*.gz
*.swp
**/__pycache__
**/__MACOSX

**/test*/
**/test*.zip
