**/*.qgz
**/*.cpg
**/*.dbf
**/*.prj
**/*.qpj
**/*.shp*
**/*.shx
**/*.sbn
**/*.sbx
**/.ipynb*


.DS_Store
.vim
*.aux
*.fdb_latexmk
*.fls
*.log
*.gz
*.swp
**/__pycache__
**/__MACOSX

**/test*/
**/test*.zip
**/dump/
**/test/nhgis0004_shapefile_tl2010_060_block_2010*
**/example-inputs/example/*
docs/**/gdutils/
docs/build/

!docs/source/src/examples/example-inputs/example-shp/*
